In [1]:
print("222222222222abvbbbb2222222<*4444444444444+5555555555")

222222222222abvbbbb2222222<*4444444444444+5555555555

In [14]:
import numpy as np
import pandas as mahdi
# 1).Object creationüòÅ
s1 = mahdi.Series([1, 2, 3, 4, np.nan,5, 6, 7, 8, 1.000000002, 8])
int_num = mahdi.Series([1, 2, 3, 4])
print(type(int_num))

<class 'pandas.core.series.Series'>

In [5]:
s1 = pd.Series([1, 2, 3, 4, np.nan,5, 6, 7, 8, 1.000000002, 8])
s2 = pd.Series([1, 2, 3, 4, np.nan,5, 6, 7888888+777*99999, 8, 1.000000002, 8])
s2
s1
s1
s2

NameError: name 'pd' is not defined

In [4]:
s1 = pd.Series([1, 2, 3, 4, np.nan,5, 6, 7, 8, 1.000000002, 8])
s2 = pd.Series([1, 2, 3, 4, np.nan,5, 6, 7888888+777*99999, 8, 1.000000002, 8])
s1/s2

0     1.000000e+00
1     1.000000e+00
2     1.000000e+00
3     1.000000e+00
4              NaN
5     1.000000e+00
6     1.000000e+00
7     8.178706e-08
8     1.000000e+00
9     1.000000e+00
10    1.000000e+00
dtype: float64

In [5]:
s1 = pd.Series([1, 2, 3, 4, np.nan,5, 6, 7, 8, 1.000000002, 8])
s2 = pd.Series([1, 2, 3, 4, np.nan,5, 6, 7888888+777*99999, 8, 1.000000002, 8])
(s1/s2)+(s1*s2)

0             2.0
1             5.0
2            10.0
3            17.0
4             NaN
5            26.0
6            37.0
7     599116777.0
8            65.0
9             2.0
10           65.0
dtype: float64

In [6]:
dates = pd.date_range("20210101", periods = 15)
dates

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10', '2021-01-11', '2021-01-12',
               '2021-01-13', '2021-01-14', '2021-01-15'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df = pd.DataFrame(np.random.randn(15, 7), index=dates, columns=list("ABCDEFG"))
df

,A,B,C,D,E,F,G
2021-01-01,0.323613,-0.736972,0.003152,-0.707786,0.233113,0.237354,-1.888826
2021-01-02,-0.678482,1.955107,-0.788801,1.157041,0.760486,0.286319,-0.966348
2021-01-03,-0.590769,-1.605737,1.749867,-0.207156,-0.601891,0.041785,-0.865228
2021-01-04,0.250947,1.503697,0.245543,0.273735,-0.051535,0.528398,1.416893
2021-01-05,-1.033194,-1.348296,-0.539497,-0.384510,-1.143572,-0.757063,-0.575588
2021-01-06,-0.128781,0.342956,-2.756559,0.515014,1.406602,1.841216,0.887801
2021-01-07,-0.259941,-1.234115,-1.909958,0.092016,0.217133,-0.714602,0.092244
2021-01-08,0.520155,-1.159939,0.235535,0.599597,-1.516344,0.949098,0.152899
2021-01-09,-2.207658,-0.144848,-1.189270,0.482793,1.434138,-0.042195,1.953434
2021-01-10,0.279663,0.390494,0.711756,0.305323,-0.733493,-0.050262,-0.169646
2021-01-11,-0.866898,0.092457,-0.333655,-0.372080,1.776262,0.748067,-1.576071
2021-01-12,0.245868,-0.930582,-0.915743,-1.808666,1.210387,0.453452,0.966738
2021-01-13,-1.390649,1.076054,0.329621,-0.396533,-0.609607,-0.345756,-1.282759
2021-01-14,1.498963,0.181241,0.145791,0.608643,-0.837329,1.485074,0.771960
2021-01-15,0.088490,0.086556,-1.283679,-1.100699,-1.494143,1.262776,-0.546540

In [8]:
df2 = pd.DataFrame(
...:     {
...:           "A": 1.0,
...:           "B": pd.Timestamp("20210101"),
...:           "C": pd.Series(1, index=list(range(4)), dtype="float32"),
...:           "D": np.array([3] * 4,  dtype="int32"),
...:           "E": pd.Categorical(["test", "train","test","train"]),
...:           "F": "fo",
...:     }
...:)
...:
df2

     A          B    C  D      E   F
0  1.0 2021-01-01  1.0  3   test  fo
1  1.0 2021-01-01  1.0  3  train  fo
2  1.0 2021-01-01  1.0  3   test  fo
3  1.0 2021-01-01  1.0  3  train  fo

In [9]:
df2.dtypes    #TAB 1)df.A,abs,add,add_prefix,add_suffix,align,
               #any,append,apply,applymap,B
             #2)df.bool,boxplot,C,clip,columns,copy,
           #count,combine,D,describe,diff,duplicated

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [10]:
df2.describe

<bound method NDFrame.describe of      A          B    C  D      E   F
0  1.0 2021-01-01  1.0  3   test  fo
1  1.0 2021-01-01  1.0  3  train  fo
2  1.0 2021-01-01  1.0  3   test  fo
3  1.0 2021-01-01  1.0  3  train  fo>

In [11]:
#example
df2.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [12]:
df2.D

0    3
1    3
2    3
3    3
Name: D, dtype: int32

In [13]:
#### 2).viewing dataüòú
df.head (0)

Empty DataFrame
Columns: [A, B, C, D, E, F, G]
Index: []

In [14]:
df.head(3)

,A,B,C,D,E,F,G
2021-01-01,0.323613,-0.736972,0.003152,-0.707786,0.233113,0.237354,-1.888826
2021-01-02,-0.678482,1.955107,-0.788801,1.157041,0.760486,0.286319,-0.966348
2021-01-03,-0.590769,-1.605737,1.749867,-0.207156,-0.601891,0.041785,-0.865228

In [15]:
df.head(7)

,A,B,C,D,E,F,G
2021-01-01,0.323613,-0.736972,0.003152,-0.707786,0.233113,0.237354,-1.888826
2021-01-02,-0.678482,1.955107,-0.788801,1.157041,0.760486,0.286319,-0.966348
2021-01-03,-0.590769,-1.605737,1.749867,-0.207156,-0.601891,0.041785,-0.865228
2021-01-04,0.250947,1.503697,0.245543,0.273735,-0.051535,0.528398,1.416893
2021-01-05,-1.033194,-1.348296,-0.539497,-0.384510,-1.143572,-0.757063,-0.575588
2021-01-06,-0.128781,0.342956,-2.756559,0.515014,1.406602,1.841216,0.887801
2021-01-07,-0.259941,-1.234115,-1.909958,0.092016,0.217133,-0.714602,0.092244

In [16]:
df.tail(2)

,A,B,C,D,E,F,G
2021-01-14,1.498963,0.181241,0.145791,0.608643,-0.837329,1.485074,0.77196
2021-01-15,0.088490,0.086556,-1.283679,-1.100699,-1.494143,1.262776,-0.54654

In [17]:
df.tail(8)

,A,B,C,D,E,F,G
2021-01-08,0.520155,-1.159939,0.235535,0.599597,-1.516344,0.949098,0.152899
2021-01-09,-2.207658,-0.144848,-1.189270,0.482793,1.434138,-0.042195,1.953434
2021-01-10,0.279663,0.390494,0.711756,0.305323,-0.733493,-0.050262,-0.169646
2021-01-11,-0.866898,0.092457,-0.333655,-0.372080,1.776262,0.748067,-1.576071
2021-01-12,0.245868,-0.930582,-0.915743,-1.808666,1.210387,0.453452,0.966738
2021-01-13,-1.390649,1.076054,0.329621,-0.396533,-0.609607,-0.345756,-1.282759
2021-01-14,1.498963,0.181241,0.145791,0.608643,-0.837329,1.485074,0.771960
2021-01-15,0.088490,0.086556,-1.283679,-1.100699,-1.494143,1.262776,-0.546540

In [18]:
df.index

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10', '2021-01-11', '2021-01-12',
               '2021-01-13', '2021-01-14', '2021-01-15'],
              dtype='datetime64[ns]', freq='D')

In [19]:
df.columns

Index(['A', 'B', 'C', 'D', 'E', 'F', 'G'], dtype='object')

In [20]:
#DataFrame.to_numpy() gives a NumPy representation of the underlying data.üòú
df2.to_numpy()

array([[1.0, Timestamp('2021-01-01 00:00:00'), 1.0, 3, 'test', 'fo'],
       [1.0, Timestamp('2021-01-01 00:00:00'), 1.0, 3, 'train', 'fo'],
       [1.0, Timestamp('2021-01-01 00:00:00'), 1.0, 3, 'test', 'fo'],
       [1.0, Timestamp('2021-01-01 00:00:00'), 1.0, 3, 'train', 'fo']],
      dtype=object)

In [21]:
#For df,the DataFrame with multiple dtypes+,
#-DataFrame.to_numpy()is relatively expensive
df.to_numpy()

array([[ 0.32361318, -0.73697159,  0.00315169, -0.70778637,  0.23311325,
         0.23735382, -1.88882604],
       [-0.67848165,  1.95510727, -0.78880147,  1.15704103,  0.76048639,
         0.28631881, -0.96634833],
       [-0.5907686 , -1.60573748,  1.74986665, -0.20715573, -0.60189131,
         0.04178525, -0.86522805],
       [ 0.25094677,  1.50369651,  0.24554252,  0.27373466, -0.05153482,
         0.52839844,  1.41689259],
       [-1.03319407, -1.3482961 , -0.53949664, -0.38450974, -1.14357156,
        -0.75706338, -0.57558833],
       [-0.12878084,  0.342956  , -2.75655935,  0.51501436,  1.40660244,
         1.84121598,  0.88780072],
       [-0.25994097, -1.23411461, -1.90995846,  0.09201633,  0.21713258,
        -0.71460201,  0.09224411],
       [ 0.52015495, -1.1599388 ,  0.23553514,  0.59959731, -1.51634365,
         0.94909781,  0.15289946],
       [-2.20765774, -0.14484828, -1.1892703 ,  0.48279344,  1.43413789,
        -0.04219509,  1.95343429],
       [ 0.27966258,  0.39049417,  0.71175639,  0.30532297, -0.73349261,
        -0.05026202, -0.16964642],
       [-0.86689847,  0.09245744, -0.33365495, -0.37208009,  1.77626215,
         0.74806699, -1.57607104],
       [ 0.24586772, -0.93058194, -0.91574303, -1.80866617,  1.21038729,
         0.45345205,  0.96673756],
       [-1.39064881,  1.07605438,  0.32962146, -0.39653272, -0.6096068 ,
        -0.34575631, -1.28275929],
       [ 1.49896304,  0.18124125,  0.14579078,  0.60864337, -0.83732904,
         1.48507376,  0.77195969],
       [ 0.08849029,  0.08655632, -1.28367875, -1.10069901, -1.49414255,
         1.26277584, -0.5465403 ]])

In [22]:
#DataFrame.to_numpy() does not include the index or column labels in the output.
#####describe() shows a quick statistic summary of your data:
df.describe()

,A,B,C,D,E,F,G
count,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000
mean,-0.263245,-0.102128,-0.419727,-0.062884,0.003347,0.394911,-0.108603
std,0.898901,1.072343,1.113030,0.763196,1.106806,0.762690,1.135012
min,-2.207658,-1.605737,-2.756559,-1.808666,-1.516344,-0.757063,-1.888826
25%,-0.772690,-1.045260,-1.052507,-0.390521,-0.785411,-0.046229,-0.915788
50%,-0.128781,0.086556,-0.333655,0.092016,-0.051535,0.286319,-0.169646
75%,0.265305,0.366725,0.240539,0.498904,0.985437,0.848582,0.829880
max,1.498963,1.955107,1.749867,1.157041,1.776262,1.841216,1.953434

In [23]:
#Transposing your data:üòú
df.T

,2021-01-01,2021-01-02,2021-01-03,2021-01-04,2021-01-05,2021-01-06,2021-01-07,2021-01-08,2021-01-09,2021-01-10,2021-01-11,2021-01-12,2021-01-13,2021-01-14,2021-01-15
A,0.323613,-0.678482,-0.590769,0.250947,-1.033194,-0.128781,-0.259941,0.520155,-2.207658,0.279663,-0.866898,0.245868,-1.390649,1.498963,0.088490
B,-0.736972,1.955107,-1.605737,1.503697,-1.348296,0.342956,-1.234115,-1.159939,-0.144848,0.390494,0.092457,-0.930582,1.076054,0.181241,0.086556
C,0.003152,-0.788801,1.749867,0.245543,-0.539497,-2.756559,-1.909958,0.235535,-1.189270,0.711756,-0.333655,-0.915743,0.329621,0.145791,-1.283679
D,-0.707786,1.157041,-0.207156,0.273735,-0.384510,0.515014,0.092016,0.599597,0.482793,0.305323,-0.372080,-1.808666,-0.396533,0.608643,-1.100699
E,0.233113,0.760486,-0.601891,-0.051535,-1.143572,1.406602,0.217133,-1.516344,1.434138,-0.733493,1.776262,1.210387,-0.609607,-0.837329,-1.494143
F,0.237354,0.286319,0.041785,0.528398,-0.757063,1.841216,-0.714602,0.949098,-0.042195,-0.050262,0.748067,0.453452,-0.345756,1.485074,1.262776
G,-1.888826,-0.966348,-0.865228,1.416893,-0.575588,0.887801,0.092244,0.152899,1.953434,-0.169646,-1.576071,0.966738,-1.282759,0.771960,-0.546540

In [24]:
#Sorting by an axis:üòú
df.sort_index(axis=1, ascending=True)

,A,B,C,D,E,F,G
2021-01-01,0.323613,-0.736972,0.003152,-0.707786,0.233113,0.237354,-1.888826
2021-01-02,-0.678482,1.955107,-0.788801,1.157041,0.760486,0.286319,-0.966348
2021-01-03,-0.590769,-1.605737,1.749867,-0.207156,-0.601891,0.041785,-0.865228
2021-01-04,0.250947,1.503697,0.245543,0.273735,-0.051535,0.528398,1.416893
2021-01-05,-1.033194,-1.348296,-0.539497,-0.384510,-1.143572,-0.757063,-0.575588
2021-01-06,-0.128781,0.342956,-2.756559,0.515014,1.406602,1.841216,0.887801
2021-01-07,-0.259941,-1.234115,-1.909958,0.092016,0.217133,-0.714602,0.092244
2021-01-08,0.520155,-1.159939,0.235535,0.599597,-1.516344,0.949098,0.152899
2021-01-09,-2.207658,-0.144848,-1.189270,0.482793,1.434138,-0.042195,1.953434
2021-01-10,0.279663,0.390494,0.711756,0.305323,-0.733493,-0.050262,-0.169646
2021-01-11,-0.866898,0.092457,-0.333655,-0.372080,1.776262,0.748067,-1.576071
2021-01-12,0.245868,-0.930582,-0.915743,-1.808666,1.210387,0.453452,0.966738
2021-01-13,-1.390649,1.076054,0.329621,-0.396533,-0.609607,-0.345756,-1.282759
2021-01-14,1.498963,0.181241,0.145791,0.608643,-0.837329,1.485074,0.771960
2021-01-15,0.088490,0.086556,-1.283679,-1.100699,-1.494143,1.262776,-0.546540

In [25]:
df.sort_index(axis=1, ascending=False)

,G,F,E,D,C,B,A
2021-01-01,-1.888826,0.237354,0.233113,-0.707786,0.003152,-0.736972,0.323613
2021-01-02,-0.966348,0.286319,0.760486,1.157041,-0.788801,1.955107,-0.678482
2021-01-03,-0.865228,0.041785,-0.601891,-0.207156,1.749867,-1.605737,-0.590769
2021-01-04,1.416893,0.528398,-0.051535,0.273735,0.245543,1.503697,0.250947
2021-01-05,-0.575588,-0.757063,-1.143572,-0.384510,-0.539497,-1.348296,-1.033194
2021-01-06,0.887801,1.841216,1.406602,0.515014,-2.756559,0.342956,-0.128781
2021-01-07,0.092244,-0.714602,0.217133,0.092016,-1.909958,-1.234115,-0.259941
2021-01-08,0.152899,0.949098,-1.516344,0.599597,0.235535,-1.159939,0.520155
2021-01-09,1.953434,-0.042195,1.434138,0.482793,-1.189270,-0.144848,-2.207658
2021-01-10,-0.169646,-0.050262,-0.733493,0.305323,0.711756,0.390494,0.279663
2021-01-11,-1.576071,0.748067,1.776262,-0.372080,-0.333655,0.092457,-0.866898
2021-01-12,0.966738,0.453452,1.210387,-1.808666,-0.915743,-0.930582,0.245868
2021-01-13,-1.282759,-0.345756,-0.609607,-0.396533,0.329621,1.076054,-1.390649
2021-01-14,0.771960,1.485074,-0.837329,0.608643,0.145791,0.181241,1.498963
2021-01-15,-0.546540,1.262776,-1.494143,-1.100699,-1.283679,0.086556,0.088490

In [26]:
#Sorting by values:
df.sort_values(by="B")

,A,B,C,D,E,F,G
2021-01-03,-0.590769,-1.605737,1.749867,-0.207156,-0.601891,0.041785,-0.865228
2021-01-05,-1.033194,-1.348296,-0.539497,-0.384510,-1.143572,-0.757063,-0.575588
2021-01-07,-0.259941,-1.234115,-1.909958,0.092016,0.217133,-0.714602,0.092244
2021-01-08,0.520155,-1.159939,0.235535,0.599597,-1.516344,0.949098,0.152899
2021-01-12,0.245868,-0.930582,-0.915743,-1.808666,1.210387,0.453452,0.966738
2021-01-01,0.323613,-0.736972,0.003152,-0.707786,0.233113,0.237354,-1.888826
2021-01-09,-2.207658,-0.144848,-1.189270,0.482793,1.434138,-0.042195,1.953434
2021-01-15,0.088490,0.086556,-1.283679,-1.100699,-1.494143,1.262776,-0.546540
2021-01-11,-0.866898,0.092457,-0.333655,-0.372080,1.776262,0.748067,-1.576071
2021-01-14,1.498963,0.181241,0.145791,0.608643,-0.837329,1.485074,0.771960
2021-01-06,-0.128781,0.342956,-2.756559,0.515014,1.406602,1.841216,0.887801
2021-01-10,0.279663,0.390494,0.711756,0.305323,-0.733493,-0.050262,-0.169646
2021-01-13,-1.390649,1.076054,0.329621,-0.396533,-0.609607,-0.345756,-1.282759
2021-01-04,0.250947,1.503697,0.245543,0.273735,-0.051535,0.528398,1.416893
2021-01-02,-0.678482,1.955107,-0.788801,1.157041,0.760486,0.286319,-0.966348

In [27]:
#Selection,üòú
#While standard Python / Numpy expressions for selecting and setting are intuitive and come in handy for interactive work, for production code, we recommend the optimized pandas data access methods, .at, .iat, .loc and .iloc.
# Getting by []
df[["A", "B"]]  #df["A"]

                   A         B
2021-01-01  0.323613 -0.736972
2021-01-02 -0.678482  1.955107
2021-01-03 -0.590769 -1.605737
2021-01-04  0.250947  1.503697
2021-01-05 -1.033194 -1.348296
2021-01-06 -0.128781  0.342956
2021-01-07 -0.259941 -1.234115
2021-01-08  0.520155 -1.159939
2021-01-09 -2.207658 -0.144848
2021-01-10  0.279663  0.390494
2021-01-11 -0.866898  0.092457
2021-01-12  0.245868 -0.930582
2021-01-13 -1.390649  1.076054
2021-01-14  1.498963  0.181241
2021-01-15  0.088490  0.086556

In [28]:
#range
df[0:5]

,A,B,C,D,E,F,G
2021-01-01,0.323613,-0.736972,0.003152,-0.707786,0.233113,0.237354,-1.888826
2021-01-02,-0.678482,1.955107,-0.788801,1.157041,0.760486,0.286319,-0.966348
2021-01-03,-0.590769,-1.605737,1.749867,-0.207156,-0.601891,0.041785,-0.865228
2021-01-04,0.250947,1.503697,0.245543,0.273735,-0.051535,0.528398,1.416893
2021-01-05,-1.033194,-1.348296,-0.539497,-0.384510,-1.143572,-0.757063,-0.575588

In [29]:
#range
df[7:9]

,A,B,C,D,E,F,G
2021-01-08,0.520155,-1.159939,0.235535,0.599597,-1.516344,0.949098,0.152899
2021-01-09,-2.207658,-0.144848,-1.189270,0.482793,1.434138,-0.042195,1.953434

In [30]:
#Range
df["20210105":"20210108"]

,A,B,C,D,E,F,G
2021-01-05,-1.033194,-1.348296,-0.539497,-0.384510,-1.143572,-0.757063,-0.575588
2021-01-06,-0.128781,0.342956,-2.756559,0.515014,1.406602,1.841216,0.887801
2021-01-07,-0.259941,-1.234115,-1.909958,0.092016,0.217133,-0.714602,0.092244
2021-01-08,0.520155,-1.159939,0.235535,0.599597,-1.516344,0.949098,0.152899

In [31]:
##Selection by labelüòú
df.loc[dates[0]]

A    0.323613
B   -0.736972
C    0.003152
D   -0.707786
E    0.233113
F    0.237354
G   -1.888826
Name: 2021-01-01 00:00:00, dtype: float64

In [32]:

df.loc[dates[0]:dates[1]]

,A,B,C,D,E,F,G
2021-01-01,0.323613,-0.736972,0.003152,-0.707786,0.233113,0.237354,-1.888826
2021-01-02,-0.678482,1.955107,-0.788801,1.157041,0.760486,0.286319,-0.966348

In [33]:
#multiaxis
df.loc[:, ["A", "B"]]

                   A         B
2021-01-01  0.323613 -0.736972
2021-01-02 -0.678482  1.955107
2021-01-03 -0.590769 -1.605737
2021-01-04  0.250947  1.503697
2021-01-05 -1.033194 -1.348296
2021-01-06 -0.128781  0.342956
2021-01-07 -0.259941 -1.234115
2021-01-08  0.520155 -1.159939
2021-01-09 -2.207658 -0.144848
2021-01-10  0.279663  0.390494
2021-01-11 -0.866898  0.092457
2021-01-12  0.245868 -0.930582
2021-01-13 -1.390649  1.076054
2021-01-14  1.498963  0.181241
2021-01-15  0.088490  0.086556

In [40]:
df.loc["20210102":"20210104", ["A", "B"]] #only range

                   A         B
2021-01-02 -0.678482  1.955107
2021-01-03 -0.590769 -1.605737
2021-01-04  0.250947  1.503697